# Configuración del servidor
PORT=3000
NODE_ENV=development

# Seguridad
JWT_SECRET=api-key-secret
API_KEY_SECRET=api-key-secret

# Configuración SMTP para Heaven
HEAVEN_SMTP_HOST=localhost
HEAVEN_SMTP_PORT=25
HEAVEN_SMTP_USER=
HEAVEN_SMTP_PASS=
HEAVEN_SMTP_FROM=no-reply@mi-dominio.live

# Configuración SMTP para Kameo
KAMEO_SMTP_HOST=localhost
KAMEO_SMTP_PORT=25
KAMEO_SMTP_USER=
KAMEO_SMTP_PASS=
KAMEO_SMTP_FROM=no-reply@mi-dominio.live

# Configuración de logs
LOG_LEVEL=info
LOG_FILE=logs/app.log

# Configuración SSL (solo para producción)
SSL_KEY_PATH=/etc/letsencrypt/live/mi-dominio.live/privkey.pem
SSL_CERT_PATH=/etc/letsencrypt/live/mi-dominio.live/fullchain.pem 