# Puerto del servidor
PORT=3000

# Configuración del servidor SMTP para la empresa1
SMTP_EMPRESA1_HOST=smtp.example.com
SMTP_EMPRESA1_PORT=587
SMTP_EMPRESA1_USER=empresa1@miempresa.com
SMTP_EMPRESA1_PASS=contraseñaDeEmpresa1
SMTP_EMPRESA1_SECURE=false

# Configuración del servidor SMTP para la empresa2
SMTP_EMPRESA2_HOST=smtp.example.com
SMTP_EMPRESA2_PORT=587
SMTP_EMPRESA2_USER=empresa2@miempresa.com
SMTP_EMPRESA2_PASS=contraseñaDeEmpresa2
SMTP_EMPRESA2_SECURE=false

# Rate limiting
RATE_LIMIT_WINDOW_MS=15*60*1000  # 15 minutos en milisegundos
RATE_LIMIT_MAX=100  # máximo de 100 solicitudes por ventana 